
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
{
  name: 'chromium',
  testIgnore: /.*auth\.login\.spec\.ts/,
  use: {
    browserName: 'chromium',
    storageState: 'storageState.json',
  },
  dependencies: ['auth'],
}